<div class="full-page">
  <div class="navbar">
    <div class="col py-3 container-fluid full_bg">
      <div class="admin_home_content">
        <h1 class="text-white heading cursive">
          <b>BUS TICKET BOOKING</b>
        </h1>
        <h4 class="text-light heading cursive"><b>WELCOME</b>&nbsp;</h4>
      </div>
      <nav>
        <ul id="MenuItems">
          <li><button [routerLink]="['/login']">Logout</button></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h3 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="btn">
            <a class="heading" routerLink="/addbus">ADD BUS</a>
          </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h3 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="btn">
            <a class="heading" routerLink="/addbusroute">ADD BUS ROUTE</a>
          </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne"></div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="btn" >
                        <a class="heading" routerLink="/ticketlist">DELETE TICKET</a>
                        
                    </button>
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                 
                </div>
            </div>
        </div>
    </div>  -->
</div>
